body{
    background-color: #000000;
    color: #ffffff;
    font-family: sans-serif;
    font-weight: 600;
}
/*Elemento NAV*/
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav ul{
    display: flex;
    list-style: none;
    align-items: center;
}

nav ul li, nav a{
    color: #ffffff;
    text-decoration: none;
    margin: 10px;
    font-family: sans-serif;
    font-weight: 900;
    font-size: 20px;
    
}
.container{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    width: 100%;
    grid-column-gap: 20px;
}
.item{
    height: min-content;
}
/*Se ataca el tamaño de la imagen dentro de item que es hijo de container*/
.item img{
    width: 100%;
}

.iframe{
    width: 100%;
    height: min-content;
}